* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #6666b6;
  color: white;
  padding: 7px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.card-header, .date-header  {
  color: #121235;
  text-transform: uppercase;
}



.add-task-input {
  padding: 7px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
.cards-container{
  .cards-container-element {
    background-color: #c2c2f1;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
  }
}
.task-list {
  .task-list-element {
    &:first-child{
      border-top: 2px solid #121235;
    }
    border-bottom: 2px solid #121235;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}