* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: #c2c2f1;
}

h1 {
  color: #121235;
  text-transform: uppercase;
  margin: 10px;
}

button {
  background-color: #6666b6;
  color: white;
  padding: 7px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

form {
}

input {
  padding: 7px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

ul {
  li {
    &:first-child{
      border-top: 2px solid #121235;
    }
    border-bottom: 2px solid #121235;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}
